<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HEAVY VISUALIZER</title>
  <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
  <script src="/scripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <title>Example of the Authorization Code flow with Spotify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
<div class="container-fluid">

    <nav id="nav-bar">
      <span>HEAVY VISUALIZER</span>
      <!-- <img class="logo" src=""> -->
      <button type="submit" class="btn btn-secondary">SAVE</button>
    </nav>

    <main class="content-primary">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ay2kunaal%3Aplaylist%3A2H6sVnTe637TxyTEWQ6Dcd" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
    </main>

    <canvas class="content-secondary">
    </canvas>
  </div>
  <!-- <%- include ./login-page.ejs %> -->
  </body>
</html>