<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HEAVY VISUALIZER</title>

  <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.js"></script>

  <script src="/scripts/app.js"></script>
  <!-- <script src="/scripts/src"></script> -->

  <script src="/scripts/trackballControls.js"></script>
  <!-- <script src="/scripts/fog.js"></script> -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <style type="text/css">
    #login, #loggedin {
      display: none;
    }
    .text-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 500px;
    }
  </style>
</head>
<body>
<div class="container-fluid">

    <nav id="nav-bar">
      <span>HEAVY VISUALIZER</span>
      <!-- <img class="logo" src=""> -->
      <button type="submit" class="btn btn-secondary">SAVE</button>
    </nav>

    <main class="content-primary">
      <div id="loggedin"></div>
      <div id="login"></div>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A22xbe73m5dnlfxoykaxtodeea%3Aplaylist%3A6IFNg6QjmlfPyfOlHGSHsD" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
    </main>

    <canvas class="content-secondary">
    </canvas>
  </div>
  </body>
</html>