<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HELLO</title>
  <
  <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
  <script src="/scripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>
  <canvas></canvas>
</body>
</html>