<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HEAVY VISUALIZER</title>

  <script src="/vendor/three.js"></script>
  <script src="/vendor/jquery-3.1.1.min.js"></script>
  <script src="/vendor/dat.gui.js"></script>
  <script src="/vendor/rainbowvis.js"></script>

  <script src="/scripts/audio.js"></script>
  <script src="/scripts/visualizer_properties.js"></script>
  <script src="/scripts/visualizer.js"></script>
  <script src="/scripts/app.js"></script>

  <script src="/scripts/sidebar-animation.js"></script>
  <script src="/scripts/trackballControls.js"></script>
  <!-- <script src="/scripts/cubeTexture.js"></script> -->

  <!-- <script src="/scripts/fog.js"></script> -->

  <link rel="stylesheet" type="text/css" href="./styles/style.css">
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>
<body>
<div class="container-fluid">

    <nav id="nav-bar">
      <span>HEAVY VISUALIZER</span>
      <!-- <img class="logo" src=""> -->
      <!-- <button type="submit" class="btn btn-secondary">SAVE</button>  -->
    </nav>

    <main class="content-primary">
      <div id="my-gui-container"></div>
      <div id="upload-music">
        <label class="btn btn-block btn-primary">UPLOAD AUDIO<input type="file" id="uploadedFile" style="display: none;" >
        </label>
        <p>(OR DRAG AND DROP)</p>
        <button type="file" id="multimedia" class="btn btn-block btn-primary">⏸</button>
      </div>
      <!-- <div id="music-button"></div> -->
    </main>
    <canvas id="threeCanvas" class="content-secondary">
    </canvas>
  </div>
  <footer id="info">INFO SECTION</footer>
  </body>
</html>