<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HELLO</title>
  <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
  <script src="/scripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>
<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A0BTsc6W83oHVuzaaxlXqY8" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
  <canvas></canvas>
</body>
</html>