body {
  font-family: 'Open Sans', sans-serif;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    background-color: #000000;
    margin: auto;
    padding: 0 2em;
    opacity: 0.6;
  }

  #nav-bar span {
    font-size: 1.4em;
    color: #2625a1;
    vertical-align: middle;
  }

  #multimediaNav {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 10px;
    opacity: 0;
    font-size: 0.6em;
    padding-right: 25px;
  }

  #multimediaNav.show {
    opacity: 1;
  }

  #multimedia {
    font-size: 0.6em;
  }

  body {
    overflow: hidden;
  }

  .content-primary {
    z-index: 1;
    left: 0;
    position: fixed;
    top: 32px;
    width: 240px;
    overflow: hidden;
    opacity: 0.6;
  }

  .container-fluid .content-secondary {
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  #upload-music {
    padding-top: 30px;
    display: none;
  }

  #upload-music p {
    font-size: 0.9em;
    padding-left: 3.2em;
    padding-top: 15px;
    color: #ffffff;
  }

  #multimedia {
    margin-top: 30px;
  }

  footer {
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 1;
    opacity: 0.8;
  }

  select {
    background-color: #000;
    color:#fff;
  }
  option {
    color: #eee;
  }

@media (min-width: 640px) {
  #nav-bar span {
    font-size: 3em;
    color: #2625a1;
    vertical-align: middle;
  }

  #nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #000000;
    margin: auto;
    padding: 0 2em;
    opacity: 0.6;
  }

  #multimediaNav {
    float: right;
    margin-top: 20px;
    width: 100px;
    opacity: 0;
    font-weight: bold;
    font-size: 0.6em;
    padding-right: 10px;
  }

  .content-primary {
    z-index: 1;
    left: 0;
    position: fixed;
    top: 80px;
    width: 240px;
    overflow: hidden;
    opacity: 0.6;
  }
}